---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="el index">
<span class="font-[myfont]">Hello World que pasa</span>
	<div class="text-red-500 font-[myfont]">Cruel</div>
	<div class="">
		Texto largo con scrool
	</div>
	<div id="btn" class="bg-blue-200 p-3 inline-block">
				Presióname
	</div>
	<div class="embla">
		<div class="embla__viewport">
		  <div class="embla__container">
			<div class="embla__slide">
				<img src="/img/img1.jpg" alt="">
			</div>
			<div class="embla__slide">
				<img src="/img/img2.jpg" alt="">
			</div>
			<div class="embla__slide">
				<img src="/img/img3.png" alt="" class="size-96">
			</div>
		  </div>
		</div>
		<button class="embla__prev">Prev</button>
		<button class="embla__next">Next</button>
	  </div>
	  
	  
</Layout>

<script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
<script>

import JSConfetti from 'js-confetti'
import EmblaCarousel from 'embla-carousel'

const jsConfetti = new JSConfetti()

const rootNode = document.querySelector('.embla')
const viewportNode = rootNode.querySelector('.embla__viewport')
const prevButtonNode = rootNode.querySelector('.embla__prev')
const nextButtonNode = rootNode.querySelector('.embla__next')
const options = { loop: true }
const embla = EmblaCarousel(viewportNode, options)
prevButtonNode.addEventListener('click', embla.scrollPrev, false)
nextButtonNode.addEventListener('click', embla.scrollNext, false)

	const btn = document.getElementById("btn")
	const img = document.getElementById("img")
	const a = 0

	btn.addEventListener("click",
		function (e){
			jsConfetti.addConfetti({
				emojis: ['❤'],
			})
			const elm = e.target
			// elm.classList.remove("bg-blue-200")
			// elm.classList.add("bg-red-500")

			elm.classList.replace("bg-blue-200", "bg-red-500")

			elm.innerText = "Ouch!"

			const myDiv = document.createElement("div")
			myDiv.innerText = "apoco"
			myDiv.classList.add("bg-green-500", "text-white")

			myDiv.addEventListener("click", (e) => {
				e.target.remove()
				console.log("Harakiri", e.target)
			})

			document.body.appendChild(myDiv)

		}
	)

	console.log("Acá estoy en la consola", btn)
</script>
<style>
	.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
</style>