---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="el index">
<span class="font-[myfont]">Hello World</span>
	<div class="text-red-500 font-[myfont]">Cruel</div>
	<div class="h-[1200px]">
		Texto largo con scrool
	</div>
</Layout>